<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="de.mindscan.fluentgenesis.recommender.preferences.RecommederPreferencePage"
            name="FluentGenesis Preferences"
            class="de.mindscan.fluentgenesis.recommender.preferences.RecommederPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.mindscan.fluentgenesis.recommender.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
         id="proposal_category"
         name="FluentGenesis Code Proposals">
         <proposalCategory icon="hashi_16.gif"/>
   </extension>
   <extension 
   		point="org.eclipse.jdt.ui.javaCompletionProposalComputer" 
   		id="fluentgenesis_proposal" 
   		name="FluentGenesis Code Proposals"> 
      <javaCompletionProposalComputer
      		activate="true"
      		categoryId="FluentGenesis-Plugin.proposal_category"
      		class="de.mindscan.fluentgenesis.recommender.proposal.ProposalComputer">
      		<!--
      			Left free, if no partition is given, the proposal is added to all partition types
      		-->
      </javaCompletionProposalComputer>
   </extension>
</plugin>
