<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="de.mindscan.fluentgenesis.recommender.preferences.RecommederPreferencePage"
            name="FluentGenesis Preferences"
            class="de.mindscan.fluentgenesis.recommender.preferences.RecommederPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.mindscan.fluentgenesis.recommender.preferences.PreferenceInitializer">
      </initializer>
   </extension>
  <extension 
   		point="org.eclipse.jdt.ui.javaCompletionProposalComputer" 
   		id="WordCompletionProposalComputer" 
   		name="FluentGenesis CodeCompleter"> 
      <javaCompletionProposalComputer
      		activate="true"
      		categoryId="de.mindscan.fluentgenesis.recommender.ProposalComputer"
      		class="de.mindscan.fluentgenesis.recommender.ProposalComputer">
      		<!--
      			Left free, if no partition is given, the proposal is assed to all partition types
      		-->
      </javaCompletionProposalComputer>
   </extension>
</plugin>
